body {
    background-color: #e9e2da;
  }
  
 div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

  }

  h1 {
    color: #59554e;
    text-align: center;
    font-family: "Garamond", Garamond, serif;
    font-size: 60px;
  }

  h2 {
    color: #ffffff;
    text-align: center;
    font-size: 20px;
  }
